table{
	width:590px;
	margin:10px;
	margin-bottom:50px;
}
table td div{
	padding:10px;
	text-align:center;
}
td div{
	border:1px solid #ccc;
} 
/* 보더의 4방향 적용 순서 : top - right - bottom - left */
/* 각 방향마다 다른 스타일 적용 가능*/
/* 선의 모양을 지정해야만 테두리가 지정됨 */
#style{
	background:#ccc;
	border:10px solid #333333;
	width:500px;
	margin:30px 50px;
}
#style2{
	text-align:center;
	border-top:7px dashed #777777;
	border-bottom:7px double #999999;
	padding-bottom:20px;
}
#outline{
	width:450px;
	border:5px solid #ccc;
	outline:1px dashed #999999;
	outline-offset:10px;
	text-align:center;
	margin-top:30px;
	margin-left:55px;
	color:#666666;
}
#tbox01{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:10px;
	border-bottom-width:1px;
	border-left-width:3px;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
}
#tbox02{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
}
#tbox03{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:dotted;
	border-right-style:dotted;
	border-bottom-style:dotted;
	border-left-style:dotted;
}
#tbox04{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:dashed;
	border-right-style:dashed;
	border-bottom-style:dashed;
	border-left-style:dashed;
}
#tbox05{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:double;
	border-right-style:double;
	border-bottom-style:double;
	border-left-style:double;
}
#tbox06{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:groove;
	border-right-style:groove;
	border-bottom-style:groove;
	border-left-style:groove;
}
#tbox07{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:ridge;
	border-right-style:ridge;
	border-bottom-style:ridge;
	border-left-style:ridge;
}
#tbox08{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:inset;
	border-right-style:inset;
	border-bottom-style:inset;
	border-left-style:inset;
}
#tbox09{
	border-color:#ff9999;
	border-top-width:5px;
	border-right-width:5px;
	border-bottom-width:5px;
	border-left-width:5px;
	border-top-style:outset;
	border-right-style:outset;
	border-bottom-style:outset;
	border-left-style:outset;
}