// variables
$color-primary:#00c9c2;
$color-secondary:#a883ff;
$color-white:#ffffff;

$color-gray-dark:#404a59;
$color-gray-light:#b9b9b9;

$color-blue-1:#dfd3fb;
$color-blue-2:#ece3ff;
$color-blue-3:#f2ecff;
$color-blue-dark:#3f4a56;