#section #brand ul li a:hover, #footer .footer_bottom .footer_link a, #footer .footer_bottom .right select {
  color: #000000;
}

#header #gnb #menu > li:hover > a, #header #gnb .sub a:hover {
  color: #222222;
}

#header #gnb .gnb_wrap_m ul li a, #section #check .check_list, #section #check .check_item:hover a, #footer .footer_bottom .left ul > li > span, #footer .footer_bottom .partner_link a, #footer .footer_bottom .right .cs_call li em {
  color: #333333;
}

#header #lnb .lnb_wrap a, #section #benefit .benefit_list .js-marquee a, #footer .footer_menu .left > ul > li > ul > li a, #footer .footer_bottom .left ul, #footer .footer_bottom .partner_link a span, #footer .footer_bottom .right .cs_call li {
  color: #666666;
}

#header #gnb .sub a, #header #gnb .gnb_wrap_m ul li .sub_m a, #section #brand ul li a {
  color: #888888;
}

#section #check img:hover, #section #joyful img:hover {
  -webkit-box-shadow: 0px 5px 15px #bebebe;
          box-shadow: 0px 5px 15px #bebebe;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

#skip {
  position: relative;
}

#skip > a {
  position: absolute;
  left: 0;
  top: -35px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 140px;
  text-align: center;
}

#skip > a:active {
  top: 0;
}

#skip > a:focus {
  top: 0;
}

.popup {
  position: fixed;
  top: 70px;
  left: 50%;
  margin-left: -270px;
  border: 2px solid #000;
  z-index: 9999;
}

.popup .top {
  background: #fff;
}

.popup .top img {
  width: 540px;
}

.popup .bottom {
  width: 540px;
  height: 30px;
  background: #fff;
  position: relative;
}

.popup .bottom label {
  line-height: 25px;
  cursor: pointer;
  margin-left: 12px;
}

.popup .bottom input {
  margin-right: 5px;
  height: 10px;
}

.popup .bottom .close {
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
  outline: none;
  background: #fff;
}

.popup .bottom label span {
  margin-top: -5px;
}

@media screen and (max-width: 980px) {
  .popup {
    display: none;
  }
}

#header {
  width: 100%;
  height: auto;
}

#header #lnb {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

#header #lnb .lnb_wrap {
  width: 980px;
  height: 24px;
  margin: 0 auto;
  padding-top: 14px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#header #lnb .lnb_wrap .left {
  float: left;
}

#header #lnb .lnb_wrap .right {
  float: right;
}

#header #lnb .lnb_wrap li {
  float: left;
  padding: 0 10px;
  line-height: 9px;
  border-left: 1px solid #e5e5e5;
}

#header #lnb .lnb_wrap li:first-child {
  border-left: 0px solid #ccc;
}

#header #lnb .lnb_wrap a {
  font-size: 13px;
}

#header #lnb .lnb_wrap a:hover {
  text-decoration: underline;
}

#header #lnb .lnb_wrap_m {
  max-width: 400px;
  height: 38px;
  margin: 0 auto;
  padding: 30px 50px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  background: #fff;
  z-index: 9999;
}

#header #lnb .lnb_wrap_m h1 {
  width: 50px;
  float: left;
}

#header #lnb .lnb_wrap_m h1 a img {
  width: 80px;
}

#header #lnb .lnb_wrap_m button {
  background: url(../images/sitemap_btn.png);
  width: 20px;
  height: 16px;
  float: right;
  margin-top: 3px;
  cursor: pointer;
}

#header #lnb .lnb_wrap_m button.user {
  background: url(../images/user.png);
  width: 21px;
  height: 21px;
  margin-right: 18px;
  margin-top: 0px;
}

#header #lnb .lnb_wrap_m button.close {
  background: url(../images/menu_close.png) no-repeat;
  position: absolute;
  top: 31px;
  right: 48px;
  display: none;
}

@media screen and (max-width: 1300px) {
  #header #lnb .lnb_wrap {
    width: 900px;
  }
}

@media screen and (max-width: 980px) {
  #header #lnb .lnb_wrap {
    width: 700px;
  }
  #header #lnb .lnb_wrap .right li:nth-child(2) {
    display: none;
  }
  #header #lnb .lnb_wrap .right li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #header #lnb .lnb_wrap {
    display: none;
  }
  #header #lnb .lnb_wrap_m {
    display: block;
    max-width: 700px;
  }
  #header #lnb .lnb_wrap .left {
    display: none;
  }
  #header #lnb .lnb_wrap .right {
    float: none;
  }
}

#header #gnb {
  width: 100%;
}

#header #gnb .gnb_wrap {
  width: 980px;
  height: 30px;
  padding: 40px 0 30px;
  margin: 0 auto;
  font-size: 18px;
}

#header #gnb #menu {
  width: 712px;
  margin: 0 auto;
  position: relative;
  top: -8px;
}

#header #gnb #menu > li {
  float: left;
  margin: 0 35px;
  font-weight: 500;
}

#header #gnb #menu > li:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

#header #gnb #menu > li:hover > a {
  text-decoration: none;
}

#header #gnb #menu > li:nth-child(3):hover {
  border-bottom: none;
}

#header #gnb .sub {
  display: none;
}

#header #gnb #menu li:last-child:hover .sub {
  display: block;
}

#header #gnb .sub {
  position: absolute;
  right: -60px;
  top: 35px;
}

#header #gnb .sub li {
  float: left;
  margin: 0 7px;
}

#header #gnb .sub a {
  font-size: 14px;
}

#header #gnb .gnb_wrap_m {
  left: 100%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 60px;
  z-index: 9999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#header #gnb .gnb_wrap_m ul {
  padding: 50px;
}

#header #gnb .gnb_wrap_m ul li {
  margin-bottom: 15px;
}

#header #gnb .gnb_wrap_m ul li a {
  font-size: 20px;
}

#header #gnb .gnb_wrap_m ul li .sub_m {
  padding: 20px 25px;
}

#header #gnb .gnb_wrap_m ul li .sub_m li {
  margin-bottom: 10px;
}

#header #gnb .gnb_wrap_m ul li .sub_m a {
  font-size: 16px;
}

#header #gnb .gnb_wrap_m ul li .sub_m a:before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background: #aaa;
  border-radius: 50%;
  left: -10px;
  left: -12px;
  position: relative;
  top: -4px;
}

#header #gnb .gnb_wrap_m.active {
  left: 0;
}

@media screen and (max-width: 1300px) {
  #header #gnb .sub {
    top: 45px;
  }
}

@media screen and (max-width: 980px) {
  #header #gnb .gnb_wrap {
    width: 700px;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  #header #gnb .gnb_wrap {
    display: none;
  }
}

#section {
  width: 100%;
  height: auto;
}

#section > .container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #section {
    margin-top: 70px;
  }
}

#section #main_visual {
  width: 1264px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#section #main_visual .swiper-container {
  overflow: hidden;
  height: 560px;
}

#section #main_visual .swiper-container img {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #main_visual .swiper-wrapper {
  width: 1180px;
  margin: 0 auto;
}

#section #main_visual .arrow {
  width: 1264px;
  height: 38px;
  margin: -19px auto 0;
  position: absolute;
  top: 50%;
  z-index: 999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #main_visual .arrow .left {
  width: 22px;
  height: 38px;
  position: absolute;
  left: 0;
  background: url(../images/main_top_slide.png) no-repeat 0px -153px;
  opacity: 0.3;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #main_visual .arrow .right {
  width: 22px;
  height: 38px;
  position: absolute;
  right: 0;
  background: url(../images/main_top_slide.png) no-repeat 0px -97px;
  opacity: 0.3;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #main_visual .arrow a:hover {
  opacity: 0.8;
}

#section #main_visual .arrow .click {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 4px;
  top: -130px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #main_visual .arrow .start {
  background: url(../images/main_top_slide.png) no-repeat 0px -28px;
  position: absolute;
  right: 4px;
  top: -130px;
  cursor: pointer;
}

#section #main_visual .arrow .pause {
  background: url(../images/main_top_slide.png) no-repeat 0px -58px;
}

#section #main_visual .control {
  position: absolute;
  width: 24px;
  height: 130px;
  top: 0;
  right: -1px;
  z-index: 999;
}

#section #main_visual .control span {
  position: relative;
  left: 1240px;
  display: block;
  margin-bottom: 8px;
  width: 6px;
  height: 6px;
  background: #aaa;
}

#section #main_visual .control .pagination {
  margin-bottom: 13px;
}

#section #main_visual .control span[class*="slide"] {
  width: 7px;
  height: 7px;
  display: block;
  margin-bottom: 7px;
  background: url(../images/main_top_slide.png) no-repeat 0px 0px;
  opacity: .3;
}

#section #main_visual .control span.swiper-pagination-bullet-active {
  background: #f7dd4c;
}

#section #main_visual .control .pagination span:nth-child(6) {
  background-position: 0px -12px;
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  #section #main_visual {
    width: 890px;
  }
  #section #main_visual .swiper-container img {
    width: 100%;
    padding-top: 3%;
  }
  #section #main_visual .arrow {
    width: 100%;
    top: 42%;
  }
  #section #main_visual .arrow .left {
    left: 30px;
  }
  #section #main_visual .arrow .right {
    right: 30px;
  }
  #section #main_visual .arrow .click {
    right: 15px;
    top: -175px;
    opacity: .3;
  }
}

@media screen and (max-width: 980px) {
  #section #main_visual {
    width: 700px;
  }
  #section #main_visual .swiper-container img {
    width: 100%;
    padding-top: 3%;
  }
  #section #main_visual .arrow {
    top: 32%;
  }
  #section #main_visual .arrow .left {
    left: 20px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  #section #main_visual .arrow .right {
    right: 20px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  #section #main_visual .arrow .click {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  #section #main_visual {
    max-width: 650px;
    width: 93%;
    padding: 20px;
  }
  #section #main_visual .arrow {
    top: 28%;
  }
}

@media screen and (max-width: 414px) {
  #section #main_visual {
    width: 90%;
  }
  #section #main_visual .arrow {
    top: 18%;
  }
  #section #main_visual .arrow .left {
    left: 10px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  #section #main_visual .arrow .right {
    right: 10px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

#section #benefit {
  width: 900px;
  height: 149px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: -85px;
  z-index: 999;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #benefit h2 {
  width: 720px;
  position: absolute;
  left: 90px;
  top: 40px;
  border-bottom: 2px solid #000;
  padding-bottom: 40px;
}

#section #benefit .benefit_list {
  width: 520px;
  height: 69px;
  margin: 40px 0;
  position: absolute;
  left: 230px;
}

#section #benefit .control .start {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/main_top_slide.png) no-repeat 0 -28px;
  position: absolute;
  top: 40px;
  right: 95px;
  cursor: pointer;
  outline: none;
}

#section #benefit .control .pause {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/main_top_slide.png) no-repeat 0 -58px;
  position: absolute;
  top: 40px;
  right: 95px;
  cursor: pointer;
  outline: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #benefit .control .pause.hide {
  display: none;
}

#section #benefit .marquee {
  overflow: hidden;
  white-space: nowrap;
}

#section #benefit .marquee .js-marquee {
  float: left;
  margin-right: 50px;
}

#section #benefit .benefit_list .js-marquee a {
  font-size: 15px;
}

#section #benefit .benefit_list .js-marquee a:hover {
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  #section #benefit {
    width: 700px;
    margin-top: -110px;
  }
  #section #benefit h2 {
    width: 90%;
    left: 5%;
    font-size: 18px;
  }
  #section #benefit .benefit_list {
    width: 430px;
    left: 170px;
  }
  #section #benefit .control .start {
    right: 35px;
  }
  #section #benefit .control .pause {
    right: 35px;
  }
}

@media screen and (max-width: 730px) {
  #section #benefit {
    max-width: 700px;
    margin-top: -140px;
    width: 90%;
  }
  #section #benefit h2 {
    width: 90%;
    height: 10px;
    font-size: 18px;
  }
  #section #benefit .benefit_list {
    width: 45%;
    left: 35%;
  }
  #section #benefit .control .start {
    right: 35px;
  }
  #section #benefit .control .pause {
    right: 35px;
  }
}

@media screen and (max-width: 630px) {
  #section #benefit {
    margin-top: -190px;
  }
}

@media screen and (max-width: 530px) {
  #section #benefit {
    margin-top: -240px;
  }
  #section #benefit h2 {
    font-size: 17px;
  }
}

@media screen and (max-width: 414px) {
  #section #benefit {
    margin-top: -300px;
  }
  #section #benefit h2 {
    font-size: 16px;
  }
}

#section #check {
  width: 1644px;
  height: auto;
  margin: 30px auto 140px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #check h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

#section #check .check_list {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #check .check_item {
  width: 316px;
  height: 414px;
  margin-right: 16px;
  float: left;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #check .check_item:last-child {
  margin: 0;
}

#section #check .check_item span {
  display: block;
  margin-top: 50px;
}

#section #check .check_item:hover a {
  text-decoration: underline;
}

#section #check img {
  position: relative;
  top: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #check img:hover {
  top: -15px;
}

@media screen and (max-width: 1440px) {
  #section #check {
    width: 980px;
    margin-bottom: 100px;
  }
  #section #check .check_list {
    margin-top: 30px;
  }
  #section #check .check_item {
    margin-bottom: 20px;
  }
  #section #check .check_item:nth-child(3n) {
    margin-right: 0px;
  }
  #section #check .check_item:nth-child(4) {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 50%;
    position: relative;
  }
  #section #check .check_item:nth-child(5) {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 50%;
    position: relative;
  }
  #section #check .check_item span {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1300px) {
  #section #check {
    width: 900px;
    margin: 0 auto 30px;
  }
  #section #check .check_list {
    margin-top: 60px;
  }
  #section #check .check_item {
    width: 32%;
  }
  #section #check .check_item img {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  #section #check {
    width: 700px;
  }
  #section #check .check_list {
    font-size: 15px;
  }
  #section #check .check_item {
    width: 31%;
    height: 345px;
  }
  #section #check .check_item:nth-child(4) {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
}

@media screen and (max-width: 730px) {
  #section #check {
    max-width: 600px;
    width: 92%;
    padding: 0 2%;
  }
  #section #check .check_item {
    height: 290px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 414px) {
  #section #check {
    width: 90%;
    padding: 0 5%;
    margin-top: -50px;
  }
  #section #check h2 {
    font-size: 20px;
  }
  #section #check .check_list {
    margin-top: 40px;
  }
  #section #check .check_item {
    width: 47%;
    height: 250px;
  }
  #section #check .check_item:nth-child(2n) {
    margin-right: 0;
  }
  #section #check .check_item:nth-child(4) {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    left: 55%;
  }
  #section #check .check_item:nth-child(5) {
    display: none;
  }
  #section #check .check_item .hide {
    display: none;
  }
}

#section #joyful {
  width: 996px;
  height: auto;
  margin: 100px auto;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #joyful h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

#section #joyful .joyful_banner {
  margin-top: 30px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #joyful .left {
  float: left;
  margin-right: 17px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #joyful .right {
  float: left;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #joyful .right .mt12 {
  margin-top: 12px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #joyful img {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (max-width: 1300px) {
  #section #joyful {
    width: 900px;
    margin: 0 auto 50px;
  }
  #section #joyful img {
    width: 100%;
  }
  #section #joyful .left {
    width: 65%;
    margin-right: 20px;
  }
  #section #joyful .right {
    width: 32%;
  }
  #section #joyful .right .mt12 {
    margin-top: 8px;
  }
  #section #joyful .joyful_banner {
    margin-top: 60px;
  }
}

@media screen and (max-width: 980px) {
  #section #joyful {
    width: 700px;
  }
  #section #joyful .right .mt12 {
    margin-top: 5px;
  }
}

@media screen and (max-width: 730px) {
  #section #joyful {
    max-width: 600px;
    width: 94%;
    padding: 0 3%;
    margin-top: 50px;
  }
  #section #joyful .left {
    width: 94%;
    margin-right: 0;
    padding: 0 3%;
  }
  #section #joyful .right {
    width: 94%;
    padding: 3% 3% 0;
  }
  #section #joyful .right:after {
    content: '';
    display: block;
    clear: both;
  }
  #section #joyful .right .top {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
  #section #joyful .right .center {
    float: left;
    width: 49%;
    margin-top: 0;
  }
  #section #joyful .right .bottom {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  #section #joyful {
    margin-top: 60px;
  }
  #section #joyful .joyful_banner {
    margin-top: 40px;
  }
  #section #joyful .right .top {
    float: none;
    width: 100%;
  }
  #section #joyful .right .center {
    float: none;
    width: 100%;
    margin-top: 10px;
  }
}

#section #brand {
  width: 1168px;
  height: auto;
  margin: 100px auto;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #brand ul {
  width: 1005px;
  margin: 0 auto;
}

#section #brand ul li {
  float: left;
  width: 125px;
  height: 71px;
  position: relative;
  margin-bottom: 50px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #brand ul li a {
  display: block;
  width: 125px;
  height: 71px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  line-height: 9;
}

#section #brand ul li img {
  position: relative;
  top: -10px;
}

#section #brand ul li a:before {
  display: block;
  content: '';
  background: url(../images/logo_main_brand01.png) no-repeat;
  width: 56px;
  height: 42px;
  position: absolute;
  top: -9px;
  left: 35px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

#section #brand ul li a:hover:before {
  top: -15px;
}

#section #brand .logo1 a:before {
  background: url(../images/logo_main_brand01.png);
}

#section #brand .logo2 a:before {
  background: url(../images/logo_main_brand02.png);
}

#section #brand .logo3 a:before {
  background: url(../images/logo_main_brand03.png);
}

#section #brand .logo4 a:before {
  background: url(../images/logo_main_brand04.png);
}

#section #brand .logo5 a:before {
  background: url(../images/logo_main_brand05.png);
}

#section #brand .logo6 a:before {
  background: url(../images/logo_main_brand06.png);
}

#section #brand .logo7 a:before {
  background: url(../images/logo_main_brand07.png);
}

#section #brand .logo8 a:before {
  background: url(../images/logo_main_brand09.png);
}

#section #brand ul li a:hover {
  text-decoration: none;
}

#section #brand .logo1 a:hover:before {
  background: url(../images/logo_main_brand01_over.png);
}

#section #brand .logo2 a:hover:before {
  background: url(../images/logo_main_brand02_over.png);
}

#section #brand .logo3 a:hover:before {
  background: url(../images/logo_main_brand03_over.png);
}

#section #brand .logo4 a:hover:before {
  background: url(../images/logo_main_brand04_over.png);
}

#section #brand .logo5 a:hover:before {
  background: url(../images/logo_main_brand05_over.png);
}

#section #brand .logo6 a:hover:before {
  background: url(../images/logo_main_brand06_over.png);
}

#section #brand .logo7 a:hover:before {
  background: url(../images/logo_main_brand07_over.png);
}

#section #brand .logo8 a:hover:before {
  background: url(../images/logo_main_brand09_over.png);
}

@media screen and (max-width: 1300px) {
  #section #brand {
    width: 900px;
  }
  #section #brand ul li {
    width: 110px;
  }
}

@media screen and (max-width: 980px) {
  #section #brand {
    width: 700px;
  }
  #section #brand ul {
    width: 700px;
    margin-left: 60px;
  }
  #section #brand ul li {
    width: 150px;
  }
}

@media screen and (max-width: 730px) {
  #section #brand {
    max-width: 600px;
    width: 94%;
    padding: 0 3%;
    margin-top: 80px;
  }
  #section #brand ul {
    width: 95%;
    padding: 3% 0 2%;
    margin: 0 auto;
  }
  #section #brand ul li {
    width: 24%;
  }
}

@media screen and (max-width: 414px) {
  #section #brand {
    margin-bottom: 10px;
  }
  #section #brand ul {
    width: 100%;
  }
  #section #brand ul li {
    width: 23%;
  }
}

#footer {
  width: 100%;
  margin: 0 auto 50px;
}

#footer > .container {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

#footer .footer_menu {
  margin-top: 30px;
  padding-bottom: 35px;
  height: 24px;
  line-height: 24px;
  border-bottom: 2px solid #000;
}

#footer .footer_menu .left {
  float: left;
}

#footer .footer_menu .right {
  float: right;
}

#footer .footer_menu .left > ul > li {
  float: left;
  font-size: 16px;
  margin-right: 15px;
  position: relative;
}

#footer .footer_menu .left > ul > li > ul {
  position: absolute;
  top: 0;
  left: 70px;
  width: 320px;
}

#footer .footer_menu .left > ul > li > ul > li {
  float: left;
  font-size: 14px;
  margin: 0 6px;
}

#footer .footer_menu .left > ul > li > ul > li:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #ccc;
  position: relative;
  top: 0px;
  left: -6px;
}

#footer .footer_menu .left > ul > li > ul > li:first-child:before {
  width: 0;
}

#footer .footer_menu .right li {
  float: left;
  margin-right: 10px;
  font-size: 14px;
}

#footer .footer_menu .right li:before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background: #666;
  border-radius: 50%;
  position: relative;
  top: 14px;
  left: -6px;
}

#footer .footer_menu .right li:first-child:before {
  width: 0;
}

#footer .footer_bottom {
  margin: 28px 0 44px;
}

#footer .footer_bottom .left {
  float: left;
}

#footer .footer_bottom .left ul {
  margin-top: 12px;
}

#footer .footer_bottom .left ul.first {
  float: left;
  margin-top: 20px;
}

#footer .footer_bottom .left ul.first img {
  position: relative;
  top: -10px;
}

#footer .footer_bottom .left ul:nth-child(2) {
  clear: both;
}

#footer .footer_bottom .left ul > li {
  float: left;
  margin-right: 14px;
}

#footer .footer_bottom .legal .important {
  line-height: 17px;
}

#footer .footer_bottom .legal .important a {
  color: #FF3C50;
  font-size: 15px;
}

#footer .footer_bottom .footer_link {
  margin-top: 30px;
}

#footer .footer_bottom .footer_link li {
  margin-right: 10px;
}

#footer .footer_bottom .partner_link {
  width: 560px;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
}

#footer .footer_bottom .right {
  float: right;
  width: 210px;
  letter-spacing: -1px;
}

#footer .footer_bottom .right form {
  width: 150px;
  margin-right: 8px;
  float: left;
}

#footer .footer_bottom .right select {
  width: 150px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 10px;
}

#footer .footer_bottom .right select {
  -webkit-appearance: none;
  -ms-appearance: none;
}

#footer .footer_bottom .right select::-ms-expand {
  display: none;
}

#footer .footer_bottom .right option {
  font-size: 12px;
  padding: 5px;
}

#footer .footer_bottom .right button {
  width: 45px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
  font-size: 11px;
}

#footer .footer_bottom .right button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

#footer .footer_bottom .right .cs_call {
  margin-top: 30px;
}

#footer .footer_bottom .right .cs_call li {
  margin-bottom: 12px;
}

#footer .footer_bottom .right .wa_mark {
  position: absolute;
  right: 0;
  bottom: 10px;
}

#footer .footer_bottom .right .wa_mark img {
  width: 44px;
}

@media screen and (max-width: 1300px) {
  #footer .container {
    width: 900px;
  }
}

@media screen and (max-width: 1200px) {
  #footer .container {
    width: 800px;
  }
}

@media screen and (max-width: 980px) {
  #footer .container {
    width: 700px;
  }
  #footer .footer_menu {
    padding-bottom: 20px;
    border-bottom: 2px solid #aaa;
  }
  #footer .footer_menu .right {
    display: none;
  }
  #footer .footer_bottom {
    margin: 15px 0 44px;
  }
  #footer .footer_bottom .partner_link {
    width: 98%;
    border: none;
    padding-top: 0;
  }
  #footer .footer_bottom .left {
    float: none;
  }
  #footer .footer_bottom .right {
    float: none;
    margin-top: 30px;
    width: 100%;
  }
  #footer .footer_bottom .right form {
    width: 90%;
  }
  #footer .footer_bottom .right select {
    width: 98%;
    letter-spacing: 5px;
    border-bottom: 2px solid #aaa;
  }
  #footer .footer_bottom .right button {
    width: 50px;
    border: 1px solid #aaa;
  }
  #footer .footer_bottom .right .wa_mark {
    right: 20px;
    bottom: 7px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media screen and (max-width: 730px) {
  #footer .container {
    max-width: 600px;
    width: 90%;
    padding: 0 2%;
  }
}

@media screen and (max-width: 650px) {
  #footer .container {
    max-width: 550px;
    width: 90%;
    padding: 0 2%;
  }
  #footer .left ul li ul {
    display: none;
  }
  #footer .footer_bottom .left ul {
    color: #999;
  }
  #footer .footer_bottom .left ul > li {
    margin-right: 5px;
    margin-top: 3px;
  }
  #footer .footer_bottom .left ul > li > span {
    color: #666;
  }
  #footer .footer_bottom .right form {
    width: 87%;
  }
  #footer .footer_bottom .right button {
    width: 10%;
  }
  #footer .footer_bottom .footer_link a {
    color: #666;
  }
  #footer .footer_bottom .partner_link li a {
    color: #666;
  }
  #footer .footer_info.first li:nth-child(2) {
    clear: both;
  }
  #footer .footer_info.legal li:nth-child(3) {
    clear: both;
  }
  #footer .footer_info.legal li a {
    color: #666;
  }
  #footer .footer_bottom .right .cs_call li {
    margin-bottom: 5px;
    color: #999;
  }
  #footer .footer_bottom .right .cs_call li em {
    color: #666;
  }
}
/*# sourceMappingURL=style.css.map */