*{margin:0; padding:0; border:0;}
.bat{position:fixed; top:0; left:50%;  width:300px; margin-left:-10%; transition:top .5s; z-index:3; will-change:transform;}
/* will-change: 변화될 속성을 미리 언급하여 애니메이션 성능 개선 */
img{position:absolute; top:0; left:0; width:100%;}
.wing1{left:0px; animation:wingLeft 1s infinite ; transform-origin:100% 100%; transition:transform .5s;}
.wing2{animation:wingRight infinite 1s; transform-origin:0% 0%; margin-top:-1%;}
.body{z-index:3;}
@keyframes wingLeft{
	0%{transform:rotate(5deg)}
	50%{transform:rotate(0deg)}
	100%{transform:rotate(5deg)}
}
@keyframes wingRight{
	0%{transform:rotate(0deg)}
	50%{transform:rotate(5deg)}
	100%{transform:rotate(0deg)}
}

.vampire{position:fixed; z-index:2; width:300px; height:300px; bottom:0; right:-600px; transition:right 1s;}
.vampire.active{right:30px;}

.bg{position:relative; width:100%; height:6000px;}
.bg>div{position:absolute; width:100%; height:100%; opacity:0; transition:opacity .5s;}
.bg>div.active{opacity:1;}
.spring{background:url(../images/01.png);}
.summer{background:url(../images/02.png);}
.fall{background:url(../images/03.png);}
.winter{background:url(../images/04.png);}